body {
}

.passwordBox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.passwordBox #password {
    vertical-align: middle;
    margin-top: 0;
    margin-left: 20px;
    float: right;
}

.passwordBox .modify {
    margin-top: 20px;
    display: block;
}

.currentPassBox {
    overflow: hidden;
}

.currentPassBox input {
    float: right;
}

.changePassBox {
    overflow: hidden;
}

.changePassBox input {
    float: right;
}