body {
}

.password_Box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.password_Box #password {
    vertical-align: middle;
    margin-top: 0;
    margin-left: 20px;
    float: right;
}

.password_Box .modify {
    margin-top: 20px;
    display: block;

}